# These env vars get templated into the configs in the respective containers via init scripts.
#
# If you want to make more customisations then either edit the templates to add more env variables below
# (free free to contribute them back)
# or edit the templates directly.

# n.b. SECRETS_* env variables get pulled in on demand from files in ./secrets

USER_ID=
GROUP_ID=

DOMAIN=REPLACE_WITH_DOMAIN
HOMESERVER_FQDN=matrix.REPLACE_WITH_DOMAIN
MAS_FQDN=auth.REPLACE_WITH_DOMAIN
ELEMENT_WEB_FQDN=element.REPLACE_WITH_DOMAIN
ELEMENT_CALL_FQDN=call.REPLACE_WITH_DOMAIN
LIVEKIT_FQDN=livekit.REPLACE_WITH_DOMAIN
LIVEKIT_JWT_FQDN=livekit-jwt.REPLACE_WITH_DOMAIN

REPORT_STATS=yes

IDENTITY_SERVER_URL=https://vector.im

SMTP_HOST=mailhog
SMTP_PORT=1025
MAIL_NOTIF_FROM_ADDRESS=noreply@REPLACE_WITH_DOMAIN
ABUSE_SUPPORT_EMAIL=abuse@REPLACE_WITH_DOMAIN
SECURITY_SUPPORT_EMAIL=security@REPLACE_WITH_DOMAIN

MAS_CLIENT_ID="0000000000000000000SYNAPSE"
MAS_EMAIL_FROM='"Servicio de autentificación de Matrix" <support@REPLACE_WITH_DOMAIN>'
MAS_EMAIL_REPLY_TO='"Servicio de autentificación de Matrix" <support@REPLACE_WITH_DOMAIN>'

# This should be the public IP of your $LIVEKIT_FQDN.
# If livekit doesn't work, double-check this.
LIVEKIT_NODE_IP=127.0.0.1

COUNTRY=CL